{% load static %}
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="{% url 'dashboard' %}" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="{% static 'img/logo-small.png' %}">
            </div>
            <!-- <p>CT</p> -->
        </a>
        <a href="{% url 'dashboard' %}" class="simple-text logo-normal">
            Tarefometro 2000
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <!--<li class="active">-->
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="{% url 'criarUsuario' %}">
                    <i class="nc-icon nc-single-02"></i>
                    <p>Criar usuarios</p>
                </a>
            </li>
            <li>
                <a href="{% url 'listaUsuarios' %}">
                    <i class="nc-icon nc-badge"></i>
                    <p>Usuarios</p>
                </a>
            </li>
            <li>
                <a href="{% url 'listaTarefas' %}">
                    <i class="nc-icon nc-paper"></i>
                    <p>Tarefas</p>
                </a>
            </li>
        </ul>
    </div>
</div>