{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper ">
    {% include 'partials/menu.html' %}
    <div class="main-panel">
        {% include 'partials/nav.html' %}
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-user">
                        <div class="card-header">
                            <h5 class="card-title">Criar Atividade</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-5 pr-1">
                                        <label>Usuario</label>
                                        <div class="input-group">
                                            <select class="custom-select" id="inputGroupSelect01">
                                                <option selected></option>
                                                <option value="1">Samuel</option>
                                                <option value="2">Lucas</option>
                                                <option value="3">Rodolfo</option>
                                                <option value="4">Geremias</option>
                                                <option value="5">Vagner</option>
                                                <option value="6">Astolfo</option>
                                                <option value="7">Matheus</option>
                                                <option value="8">Enzo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-1">
                                        <label>Estado da atividade</label>
                                        <div class="input-group">
                                            <select class="custom-select" id="inputGroupSelect01">
                                                <option selected></option>
                                                <option value="1">Feito</option>
                                                <option value="0">Pendente</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Descricao</label>
                                            <textarea class="form-control textarea" placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <a type="submit" class="btn btn-primary btn-round">Criar Atividade</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}