{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper ">
    {% include 'partials/menu.html' %}
    <div class="main-panel">
        {% include 'partials/nav.html' %}
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Lista de usuarios</h4>
                            <a href="{% url 'criarUsuario' %}" class="btn btn-success btn-sm">Criar usuario</a>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-lg-6">Usuario</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Mark Da Silva Cruz
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
                                    </td>
                                    <td>
                                        <a href="{% url 'usuario' %}" type="button" class="btn btn-success btn-sm">Detalhes</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mark Da Silva Cruz
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
                                    </td>
                                    <td>
                                        <a href="{% url 'usuario' %}" type="button" class="btn btn-success btn-sm">Detalhes</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mark Da Silva Cruz
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
                                    </td>
                                    <td>
                                        <a href="{% url 'usuario' %}" type="button" class="btn btn-success btn-sm">Detalhes</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/footer.html' %}
    </div>
</div>
{% endblock %}