{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper ">
    {% include 'partials/menu.html' %}
    <div class="main-panel">
        {% include 'partials/nav.html' %}
        <div class="content">
            <div class="col-md-12">
                <div class="card card-user">
                    <div class="card-header">
                        <h5 class="card-title">Lista de atividades</h5>
                        <a type="button" class="btn btn-success btn-sm" href="{% url 'criarAtividade' %}">Adicionar
                            tarefa</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Usuario</th>
                                <th class="col-6">Atividade</th>
                                <th>Estado</th>
                                <th>Opcoes</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Jao</td>
                                <td>Atualizar o crm</td>
                                <td>Pendente</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Atualizar
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Pendente</a>
                                            <a class="dropdown-item" href="#">Feito</a>
                                        </div>
                                    </div>
                                <td class="col">
                                    <button type="button" class="btn btn-danger btn-sm">Excluir</button>
                                </td>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}