{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrapper ">
    {% include 'partials/menu.html' %}
    <div class="main-panel">
        {% include 'partials/nav.html' %}
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="image">
                            <img src="{% static 'img/damir-bosnjak.jpg' %}" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" src="{% static 'img/mike.jpg' %}" alt="...">
                                    <h5 class="title">Chet Faker</h5>
                                </a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <hr>
                            <h5 class="text-center"><small>Atividades</small></h5>
                            <div class="button-container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-6 ml-auto">
                                        <h5>12<br><small><nobr>Feito</nobr></small></h5>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                        <h5>2<br><small><nobr>Pendente</nobr></small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-user">
                        <div class="card-header">
                            <h5 class="card-title">Lista de atividades</h5>
                            <a type="button" class="btn btn-success btn-sm" href="{% url 'criarAtividade' %}">Adicionar tarefa</a>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="col-6">Atividade</th>
                                    <th>Estado</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Atualizar o crm</td>
                                    <td>Pendente</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Atualizar
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Pendente</a>
                                                <a class="dropdown-item" href="#">Feito</a>
                                            </div>
                                        </div>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
                                    </td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/footer.html' %}
    </div>
</div>
{% endblock %}