{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper ">
        {% include 'partials/menu.html' %}
        <div class="main-panel">
            {% include 'partials/nav.html' %}
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{% static 'img/damir-bosnjak.jpg' %}" alt="...">
                            </div>
                            <div class="card-body">
                                <div class="author">
                                    <img class="avatar border-gray" src="{% static 'img/mike.jpg' %}" alt="...">
                                    <h5 class="title">{{ usuario.nome }}</h5>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <a href="{% url 'atualizarUsuario' usuario.id %}" type="submit"
                                   class="btn btn-primary btn-round">Atualizar Usuario</a>
                                <form action="{% url 'deletarUsuario' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_usuario" value="{{ usuario.id }}">
                                    <input type="submit" class="btn btn-primary btn-round"
                                           value="Excluir Usuario"></submitt>
                                </form>
                            </div>
                            <div class="card-footer">
                                <hr>
                                <h5 class="text-center"><small>Tarefas</small></h5>
                                <div class="button-container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                            <h5>{{ total_tarefas_pendentes }}<br><small>
                                                <nobr>Pendentes</nobr>
                                            </small></h5>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-6 ml-auto">
                                            <h5>{{ total_tarefas_feitas }}<br><small>
                                                <nobr>Feitas</nobr>
                                            </small></h5>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                            <h5>{{ total_tarefas }}<br><small>
                                                <nobr>Total</nobr>
                                            </small></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card card-user">
                            <div class="card-header">
                                <h5 class="card-title">Lista de Tarefa</h5>
                                <a type="button" class="btn btn-success btn-sm" href="{% url 'criarTarefa' %}">Adicionar
                                    tarefa</a>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="col-6">Tarefa</th>
                                        <th>Estado</th>
                                        <th>Opcoes</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for tarefa in tarefas %}
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>{{ tarefa.descricao }}</td>
                                            <td>
                                                {% if tarefa.concluido %}
                                                    Conluido
                                                {% else %}
                                                    Pendente
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary btn-sm dropdown-toggle"
                                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        Estado
                                                    </button>
                                                    <form action="{% url 'atualizarTarefa' tarefa.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <input type="hidden" name="acao" value="atualizar_estado">
                                                            <input class="dropdown-item" type="submit"
                                                                   name="novo_estado"
                                                                   value="Pendente"></submitt>
                                                            <input class="dropdown-item" type="submit"
                                                                   name="novo_estado"
                                                                   value="Feito"></submitt>
                                                        </div>
                                                    </form>
                                                </div>
                                            <td>
                                                <form action="{% url 'deletarTarefa' %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="id_tarefa" value="{{ tarefa.id }}">
                                                    <input type="hidden" name="redirect" value="usuario">
                                                    <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
                                                    <input type="submit" class="btn btn-danger btn-sm"
                                                           value="Excluir"></submitt>
                                                </form>
                                            </td>
                                            <td>
                                                <a href="{% url 'atualizarTarefa' tarefa.id %}"
                                                   class="nc-icon nc-settings-gear-65 text-dark"></a>
                                            </td>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'partials/footer.html' %}
        </div>
    </div>
{% endblock %}